extends layout

block content
  h1= title
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    
  - let hats = results
  - let createPath = `/hats/create`
  div(class="container-fluid align-items-center")
    .col-sm-12.mb-3 To create new Hat :
        button.btn.btn-primary(ml-1, onclick=`dispatch("${createPath}")`) Create
    // Display hats with an Update button
    div(class="row m-1")
      each hat, index in hats
        - let updatePath = `/hats/update?id=${hat._id}`
        - let detailPath = `/hats/detail?id=${hat._id}`
        - let deletePath = `/hats/delete?id=${hat._id}`
        
        .card.clickable-card.text-center( style=`background-color: ${hat.color}; color: Black;`)
          | Item #{hat.hatStyle}(#{hat.size}) is #{hat.color} #{hat.price.toFixed(2)}$
          div.button-container.mx-auto
            button.btn.btn-primary(ml-1, onclick=`dispatch("${updatePath}")`) Update
            button.btn.btn-primary(ml-1, onclick=`dispatch("${detailPath}")`) Detail 
            button.btn.btn-primary(ml-1, onclick=`dispatch("${deletePath}")`) Delete       

    // Additional details with a purchase feature
    div.container-fluid
      div.row
        each hat, index in hats
          div.col-sm-2.card.clickable-card(onclick=`buy(${index})`, style=`background-color: ${hat.color}; color: Black;`)
            | #{hat.hatStyle}
          div.col-sm-2.card.clickable-card(onclick=`buy(${index})`, style=`background-color: ${hat.color}; color: Blacl;`)
            | #{hat.size}
          div.col-sm-2.card.clickable-card(onclick=`buy(${index})`, style=`background-color: ${hat.color}; color: Black;`)
            | #{hat.color}
          div.col-sm-2.card.clickable-card(onclick=`buy(${index})`, style=`background-color: ${hat.color}; color: Black;`)
            | #{hat.price.toFixed(2)}
          br
          hr

    // Back to Index link
    a(href="/") Back to Index

  script.
    // Keep the existing buy function
    function buy(index) {
      alert(`You purchased Item ${index + 1}`);
    }

    // Keep the existing dispatch function
    function dispatch(path) {
      window.location.href = path;
    }
